GettingStartedSoapDemo/GettingStartedClient/Connected Services/ServiceReference1/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFridge_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IFridge_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="IFridge_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IFridge_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IFridge">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/Add" message="tns:IFridge_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/AddResponse" message="tns:IFridge_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/Subtract" message="tns:IFridge_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/SubtractResponse" message="tns:IFridge_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/Get" message="tns:IFridge_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/GetResponse" message="tns:IFridge_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>